body {
    margin: 40px;
    background: #f0f0f0;
}

.carte {
    width: 85mm;
    height: 55mm;
    border-radius: 10px;
    padding: 20px;
    background: linear-gradient(135deg, #657eea, #764ba2);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    display: flex;
    gap: 30px;
    align-items: center;
    color: #43085E;
}

img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

